.MuiInputLabel-formControl{
    right:2rem;
    left:inherit !important;
    font-size: 16px !important;
  }
.MuiTextField-root{
  background: transparent !important;
}
.MuiTextField-root .MuiInputBase-root input,
.MuiTextField-root .MuiInputBase-root textarea{
  background: #fff;
}
.MuiFormControl-root{
  background: transparent !important;
}
.MuiFormControl-root:not(.MuiTextField-root) .MuiSelect-select.MuiSelect-selectMenu{
  background: #fff;
}
.MuiFormControl-root:not(.MuiTextField-root) .MuiFormLabel-root.MuiInputLabel-root{
  z-index: 5;
}
.MuiInputBase-root legend{
      text-align: right !important;
}
.MuiInputBase-root  legend > span {
    font-size: .85rem !important;
}
.MuiInputLabel-shrink {
  transform-origin: top right !important;
}
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-endAdornment{
  right:inherit !important;
  left:9px;
}
.MuiSelect-selectMenu{
  text-align:right
}
.MuiChip-deleteIcon {
  margin: 0 -6px 0 5px !important;
}
 