.MuiInputLabel-formControl{
    right:2rem;
    left:inherit !important;
    font-size: 16px !important;
  }
.MuiInputBase-root legend{
      text-align: right !important;
}
.MuiInputBase-root  legend > span {
    font-size: .85rem !important;
}
.MuiInputLabel-shrink {
  transform-origin: top right !important;
}
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-endAdornment{
  right:inherit !important;
  left:9px;
}
.MuiSelect-selectMenu{
  text-align:right
}
.MuiChip-deleteIcon {
  margin: 0 -6px 0 5px !important;
}
